In [1]:
import numpy as np 
import pandas as pd

In [23]:
df=pd.read_csv('final_df.csv',index_col=0)

In [24]:
df

,text,sadness,joy,love,anger,fear,surprise,total
0,That game hurt.,1,0,0,0,0,0,1
1,Man I love reddit.,0,0,1,0,0,0,1
2,So happy for [NAME]. So sad he's not here. Ima...,1,1,0,0,0,0,2
3,"I just came home, what the fuck is this lineup...",0,0,1,0,0,0,1
4,By far the coolest thing I've seen on this thr...,0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...
466366,@iscreamshinki Oh that's why.,0,0,0,0,0,1,1
466367,His snoring is so annoying n it keeps me from ...,0,0,1,0,0,0,1
466368,Happy Mothers Day All my love,0,0,1,0,0,0,1
466369,Happy Mother's Day to all the mommies out ther...,0,0,1,0,0,0,1
466370,@mopedronin bullet train from tokyo the gf ...,0,0,1,0,0,0,1

In [ ]:
df=df.drop(